*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  height: 100%; 
}


#header{
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    bottom: 0;
    padding: 0 10px;
    background: #e08713;
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9999;

}

#header .profile #perfil{
    width: 135px;
    display: block;
    margin: 15px auto;
    border: 5px solid rgb(17, 17, 17);
    border-radius: 50%;

}

#header .profile h1{
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: rgb(17, 17, 17);
}

#header .profile .social-links{
    text-align: center;
    margin-top: 2px auto;

}


#header .profile .social-links img{
    display:inline-block;
    width: 40px;
    border: 3px solid rgb(17, 17, 17);
    list-style: none;
    text-decoration: none;
    background: #e08713;
    border-radius: 50%;
    
}



#header .profile .social-links a {
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
    list-style: none;
}


.nav-menu{
    padding: 1.5rem;
}

.nav-menu img{
    width: 35px;
}

.nav-menu a,
.nav-menu a:focus{
    display: flex;
    align-items: center;
    color: rgb(17, 17, 17);
    transition: 0.3s;
    font-size: 18px;
}

.nav-menu a:hover{
    font-size: 25px;
    transition: 0.3s;
    color: rgb(17, 17, 17);
}




.nav-menu a img,
.nav-menu a:hover img{
    padding-right: .8rem;
    color:#fff;
}

    






