*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------------------------------INICIO-------------------------------------*/
html,body{
  font-family: 'Ubuntu', sans-serif;
}

/* -------------------------------------Navegação do menu lateral----------------------*/
#header{
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    bottom: 0;
    padding: 0 10px;
    background: #383736;
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9999;

}

#header .profile #perfil{
    width: 135px;
    display: block;
    margin: 15px auto;
    border: 3px solid rgb(141, 141, 141);
    border-radius: 50%;

}

#header .profile h1{
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-align: center;
    color: rgb(141, 141, 141);
}

#header .profile h2{
    font-size: 15px;
    margin: 0;
    font-weight: 400;
    word-spacing: 0px;
    letter-spacing: -1px;
    font-family: "Ubuntu";
    text-align: center;
    color: rgb(141, 141, 141);
}
/*-------------------------------Estilização dos icones do menu lateral---------------------*/
#header .profile .social-links{
    text-align: center;
    margin-top: 2px auto;
    opacity: 35%;

}

#header .profile .social-links img{
    display:inline-block;
    width: 25px;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    
    
    
}

#header .profile .social-links a {
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
    list-style: none;
}

.nav-menu{
    padding: 1.5rem;
}

.nav-menu img{
    width: 35px;
    opacity: 35%;
   
}

.nav-menu a,
.nav-menu a:focus{
    display: flex;
    align-items: center;
    color: rgb(141, 141, 141);
    transition: 0.3s;
    font-size: 18px;
}

.nav-menu a:hover{
    font-size: 22px;
    transition: 0.3s;
    color: rgb(141, 141, 141);
}

.nav-menu a img,
.nav-menu a:hover img{
    padding-right: .8rem;
    
}
/*-----------------------------------Inicio da main-----------------------------------------*/
#main{
    margin-left: 300px;
}

#main #inicio{
    background: #252525;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    align-items:flex-start;
    width: 100%;
    height: 100vh;
}

/*-------------------------Estilizando o parágrafo com animação---------------------------*/
#header-line{
    margin-top: 30px;

}
#header-line .line{
        border-right: 2px solid rgb(255, 255, 255,0.75);
        color: #fff;
        font-family: 'DotGothic16', sans-serif;
        font-size: 23px;
        width: 27.8%;
        padding: 0;
        margin: 100px auto 0px;
        white-space: nowrap;
        overflow: hidden;
}


#header-line .typing-animation {
        animation: blinksCursor 500ms steps(40) infinite normal, typing  4s 1s steps(40) infinite normal;
        margin-top: 0px;

    }


section#inicio #header-line{
    align-items:center;
    justify-content: center;
    padding: 2px;
    background-color:#252525;
    align-content: flex-start;
    
   

    }

    @keyframes typing{
        from{
          width: 0;
        }
        to{
            width:12.8em;
        }
    }

    @keyframes blinksCursor{
        from{
            border-right-color: rgb(255,255,255,.75);
        }
        to{
            border-right-color:transparent; 

        }
    }

    /*------------------------------------Titulo da main------------------------------*/
    section#inicio .text-name{
        height: 500px;
        display:flex;
        justify-content: center;
        align-items: center;
        

    }

    section#inicio h2{
        font-size:40px;
        text-align: center;
    }

    section#inicio span#subtitle{
        font-size: 1.3rem;
        text-align: center;


    }

    .text-shadow{
        text-shadow: 5px 5px 15px #0000;
    }



    
/*------------------------------Link de arrasta mais----------------------------------*/

section#inicio .link{
    color: #fff;
    top: 0.7rem;
    right: 0.5rem;
    bottom: 0.5rem;
    font-size:15px;
    display: flex;
    justify-content:end;
    align-items: end;
    display:flex;
 }
section#inicio .link a{
    text-decoration: none;
    color: #fff;
 }
     section#inicio .arrow{
        width: 20px;
     }

  
/*-------------------------------Munu amburguinho--------------------------------------*/
.menu-mobile{
        position: fixed;
        color: #fff;
        background: rgb(46, 44, 44);
        top: 0.7rem;
        right: 0.5rem;
        font-size: 1.5rem;
        border-radius: 4rem;
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content:center;
        align-items: center;
        display: none;
     }

.menu-mobile img{
        width: 25px;
       
    }
/*--------------------------------Estilização responsivo-------------------------------*/
    @media (max-width:1024px){
        #header{
            left: -300px;
        }
        .menu-mobile{
            display: flex;
        }
       
        section#inicio #subtitle{
            font-size: 20px;  
            
        }

    #main{
        margin-left: 0;
        
    }
    
}


@media (max-width:792px){
    section#inicio h2{
        font-size: 35px;
    }
   
}



    @media (max-width:459px){
        section#inicio .line{
            font-size: 18px;
        }
        .menu-mobile img{
            width:30px;
        }

        .menu-mobile{
            width: 30px;
            height: 30px;
        }

    }

    @media (max-width:370px){
        section#inicio h2{
            font-size: 33px;

        }
    }
    section#inicio #subtitle{
        font-size: 17px;

    }


    @media (max-width:280px){
        section#inicio .line{
            font-size: 17px;
        }
        .menu-mobile img{
            width:30px;
        }
        section#inicio h2{
            text-align: center;
        }
        section#inicio #subtitle{
            text-align: center;
        }

    }

























    






