<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2? 
        family=Special+Elite&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap" 
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="shortcut icon" href="../static/img/fav-icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap- 
        icons.css">
        <title>Daniel-Dev</title>
    </head>
    <body>
        
            <aside id="header">
                <section class="profile">
                    <img id="perfil" src="../static/img/perfil.jpg" alt="foto-de-perfil">
                    <h1>Daniel Albuquerque</h1>
                    <h2>Programador e Desenvolvedor Frontend</h2>
                    <div class="social-links mt-2">
                        <a href="https://www.linkedin.com/in/daniel--albuquerque/"      
                        target="_blank">
                        <img src="../static/img/linkedin.svg" alt="">
                        </a>
                        <a href="https://github.com/DaniellAlbuquerque" target="_blank">
                            <img src="../static/img/github.svg" alt="">
                        </a>
                        <a href="https://www.instagram.com/daniell_j95/" target="_blank">
                            <img src="../static/img/instagram.svg" alt="">
                        </a>
                        <a href="mailto:danieljca3@gmail.com" target="_blank">
                            <img src="../static/img/envelope.svg" alt="">
                        </a>
                        <a href="http://wa.me/5512988409976?text=Olá Daniel! Tudo bem?" 
                         target="_blank">
                            <img src="../static/img/whatsapp.svg" alt="whatsapp">
                        </a>
                    </div>
                </section>
                <nav id="nav" class="nav-menu">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#"><img 
                            src="../static/img/house-fill.svg" alt="">Início</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"><img src="../static/img/person.svg" alt="">Sobre</a>
                        </li>
                        <li class="nav-item">
                         <a class="nav-link" href="#"><img src="../static/img/list-check.svg" alt="">Habilidades</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"><img src="../static/img/gear.svg" alt="">Projetos</a>
                        </li>
                        <li class="nav-item">
                         <a class="nav-link" href="#"><img src="../static/img/envelope-at.svg" 
                             alt="">Contato</a>
                        </li>
                      </ul>
                </nav>   
            </aside>

            <main id="main">
             
                <section id="inicio" class="row m-0 p-0" >
                    <p class="line typing-animation">Olá, eu sou Daniel Albuquerque,seja muito bem vindo!</p>    
               
               
                    <div class= "link">
                        <img id="arrow" src="../static/img/arrow-down.svg" alt="seta para baixo">
                        <a href="">Arraste para mais</a>
                    </div>
                </section>




            </main>




        <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../static/script.js"></script>   
    </body>
</html>